
body { 
    height: 100%; 
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; 
    color: #222;
   }

.courses-container{ width: 90%; max-width: 1200px; margin: 0 auto;
 }
 
.main-header{
  background-color: white;
}
.nav-container{
  width: 90%;max-width: 1200px;
  margin: 0 auto;
  display: flex;
  background-color: white;
  gap: 50px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin-left: 170px;
  display: flex;
}

.nav-menu a{
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size:15px;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 35px;
}

a:hover{
  color: lightblue;
}

.hero{
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url(PHOTOS/Group\ Photo\ 1.jpg);
  padding: 25px;
}

h1{
  font-size: 48px;
  font-weight: bold;
  text-shadow: #222;
  color: white;
}

.hero-inner p{
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.hero-inner{
   margin-top: 500px;
}

/* Hero button Mian container*/
.hero-buttons {
      display: flex; 
      gap: 14px; 
      justify-content: center; 
      flex-wrap: wrap; 
      margin-top: 20px;      
}

/* Hero button 1*/
.btn-1{
  background-color: purple;
  padding: 7px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  text-align: center;  
}

.btn-1:hover{
  background-color:  whitesmoke;
  color: purple;
}

/* Hero button 2*/
.btn-2{
  background-color:rgb(146, 146, 39);
  padding: 7px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  text-align: center; 
}

.btn-2:hover{
  background-color:  whitesmoke;
  color: purple;
}

/* Hero button 3*/
.btn-3{
  background-color: white;
  color: purple;
  border-radius: 8px;
  width: 150px;
  padding: 7px;
  font-size: 17px;

  text-align: center;
}

.btn-3:hover{
  background-color:  #002A48;
}

 a{
  text-decoration: none;
  text-align: center;
}

/*The About section of the website*/

.about-container{
  background-color: rgb(245, 247, 248);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  margin-top: 30px;
}

.about-text{
  margin-left: 190px;
}

/*About heading */
.about-text h2{
  color: #6B2D8F;
  font-size: 30px;
  font-weight: bold;
}

.about-text h3{
  color: #00BFA5;
  font-size: 24px;
}

.about-text p{
  color: rgb(141, 134, 134);
  line-height: 1.6;
  font-family:Arial, Helvetica, sans-serif; 
}

.more-button {
  display: inline-block;
  padding: 10px 16px;
  width: auto;
}

.more-button:hover{
  background-color: #05548c;
}

/*About Image desig*/
.about-image{
     margin-bottom:25px;    
}

/*Features Design*/
.courses-container{
  margin-top:60px; 
}

.course-features{
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  gap: 30px;
  padding: 20px;
  
}
.feature-button {
  background-color: yellow;
  border-radius: 5px;
  padding: 6px;
}

.feature-button:hover{
  background-color: #002A48;
  font-family: 'Courier New', Courier, monospace;
}

.courses-container p{
    color: teal;
    text-align: center;
    font-size: 20px;   
}

.courses-container h2{
  text-align: center;
  color: purple;
  font-size: 40px;
}

.course-features h4{
  color: purple;
}

/*Footer Design*/

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,  1fr);
  gap: 20px;
  color: white;
}

.Body-footer{
  background-image: url(https://refactory.academy/wp-content/uploads/2025/07/19534059_6144290.jpg);
  padding: 50px;
}

.footer-column h4{
  color: #00BFA5;
  font-size: 25px;
}

/*Footer social media  design*/
.copyright{
  text-align: center;
  color: white;
  margin-top: 20px;
}

.socials-media{
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}

.socials-media a{
  color: aliceblue;
}

.line {
  width: 100%;
  height: 2.5px;
  background-color: white;
}

.location{
  color: #00BFA5;
  font-size: 15px;
  font-weight: bold;
}

/*Foot links design*/

.success {
  background-color: #002A48;
  color: white;
  padding: 20px 0;
}

.success-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* LEFT IMAGES */
.success-images {
  position: relative;
}

.success-images img {
  width: 300px;
  border: 10px solid white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  position: absolute;
}

.image-1 {
  top: 100;
  left: 40;
  transform: rotate(-8deg);
}

.image-2 {
  top: 20px;
  left: 120px;
  transform: rotate(6deg);
}

/* RIGHT STATS */
.success-stats h2 {
  font-size: 40px;margin-bottom: 40px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stats-grid h3 {
  font-size: 56px;
  margin: 0;
}

.stats-grid p {
  font-size: 18px;
}